<!DOCTYPE html>
 <% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>

  <script type="text/javascript">  
        var textareaobj=document.getElementById('micropost_content');  
        textareaobj.onkeydown=function(){  
        checklastword();  
          }  
  
        textareaobj.onkeyup=function(){  
        checklastword();  
        }  
  
        function checklastword(){  
        var lastwordnum=140-textareaobj.value.length;  
        if(lastwordnum>=0) document.getElementById('lastwordnum').value=lastwordnum+"/140";  
        if(lastwordnum < 1) textareaobjtextareaobj.value= textareaobj.value.substr(0,140);  
        }//test  
  </script>  

    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>    
  </div>
 <% else %>
    <div class="center hero-unit">
  	<h1>Welcome to the Sample App</h1>
  	<h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
	</h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

<%end%>

